.ProjectTools-container {
  position: relative;
  width: 800px;
  height: 450px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  /* transition: 1s; */
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

/* 배경 */

.Tools-cubeBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0.2;
  animation: cubeAnimate 10s infinite linear;
}

@keyframes cubeAnimate {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

.Tools-cube {
  position: relative;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  transform: rotateX(-35deg) rotateY(45deg);
}

.Tools-face {
  position: absolute;
  width: 70px;
  height: 70px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Tools-front {
  transform: translateZ(40px);

  border: 3px solid white;
}

.Tools-left {
  transform: rotateY(-90deg) translateZ(40px);
  border: 3px solid white;
  font-size: 15px;
  color: white;
}

.Tools-top {
  transform: rotateX(90deg) translateZ(40px);

  border: 3px solid white;
}

.Tools-wrapper {
  position: relative;
  width: 45%;
  height: 350px;
}

/* left */

.Tools-titleBox {
  width: 100%;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 20px;
}

.Tools-title {
  font-size: clamp(40px, 6.25vw, 50px);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  padding-left: 20px;
}

.Tools-subTitle {
  position: absolute;
  font-size: 10px;
  padding-left: 5px;
  color: rgb(171, 171, 171);
}

.Tools-IntroductionWrapper {
  width: 65%;
  height: 70px;
  position: relative;
  font-size: 10px;
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
}

.Tools-Introduction {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.Tools-Introduction-Stack {
  position: relative;
  width: 240px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.Tools-Introduction-Stack li {
  border: 1px solid rgb(49, 49, 49);
  background-color: rgb(38, 38, 38);
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  transition: 0.5s;
}
.Tools-Introduction-Stack li:hover {
  color: white;
}

.Tools-btnBox {
  width: 300px;
  height: 60px;
  position: relative;
  margin-top: 0px;
  display: flex;
  align-items: end;
  padding-left: 20px;
  gap: 20px;
}

.Tools-btn {
  position: relative;
  width: 100px;
  height: 35px;

  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1.5px solid rgb(49, 49, 49);
  background-color: rgb(38, 38, 38);
  transition: 0.5s;
  pointer-events: auto;
}
.Tools-btn::before {
  width: 110%;
  height: 120%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(96, 96, 96, 0.1);
  border-radius: 30px;
  pointer-events: none;
}

.Tools-btn:hover {
  border: 1.5px solid rgb(71, 71, 71);
  background-color: rgb(43, 43, 43);
  box-shadow: 0px 1px 12px 3px rgba(0, 0, 0, 0.5);
}

.Tools-btn a {
  text-decoration: none;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
  transition: 0.5s;
}

.Tools-btn:hover a {
  color: rgba(255, 255, 255, 0.9);
}

/* right */

.Tools-hex-wrapper {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 80%;
  height: 70px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: 0.5s;

  pointer-events: none;
}

.Tools-hex-wrapper:nth-child(2) {
  top: 50%;
}
.Tools-hex-wrapper:nth-child(3) {
  top: 65%;
}

.Tools-HexBox {
  position: relative;
  width: 60px;
  height: 65px;
  pointer-events: auto;
}

.Tools-hex {
  position: absolute;
  width: 51.96px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(49, 49, 49);
  border-radius: 1.5px/ 3px;
  transition: 0.3s;
}

.Tools-HexBox:hover .Tools-hex {
  background-color: rgb(168, 168, 168);
}

.Tools-hex-selected {
  background-color: rgb(168, 168, 168);
}

.Tools-hex::before,
.Tools-hex::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.Tools-hex::before {
  transform: rotate(60deg);
}
.Tools-hex::after {
  transform: rotate(-60deg);
}
.Tools-hex-innerBox {
  transform: translate(-50%, -50%) scale(0.95);
}

.Tools-hex-innerBox-black {
  background-color: rgb(38, 38, 38) !important;
}
.Tools-hex-innerBox-select {
  background-color: rgb(42, 42, 42) !important;
}

.Tools-hex-inner {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Tools-hex-inner p {
  font-size: 2.5em;
  opacity: 0.5;
}

.Tools-HexBox:hover .Tools-hex-inner p {
  font-size: 2.5em;
  opacity: 1;
}

.Tools-icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  transition: 0.5s;
  position: relative;
  top: 2px;
  transition: 0.5s;
}

.Tools-hex-inner-select .Tools-icon,
.Tools-hex-inner p {
  opacity: 1;
}

.Tools-HexBox:hover .Tools-icon {
  opacity: 1;
}

.Tools-shadowHex {
  position: absolute;
  transform: translate(-55%, -40%) scale(1.5);
  z-index: -1;
  filter: blur(5px);
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
  transition: 1s;
}

.Tools-shadowHex-visible {
  opacity: 0.8;
}

.Tools-HexBox:hover .Tools-shadowHex {
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0.5;
}

.Tools-guideBox {
  position: absolute;
  width: 100px;
  height: 30px;

  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 8px;
  pointer-events: none;

  transition: 1s;
}

@media (max-width: 800px) {
  .ProjectTools-container {
    width: 500px;
    transition: 0.5s;
  }

  .Tools-Introduction-Stack {
    width: 160px;
    gap: 5px;
  }
  .Tools-Introduction-Stack li {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 7px;
  }
}

@media (max-width: 460px) {
  .Tools-btn {
    width: 70px;
    height: 25px;

    border-radius: 30px;
  }
  .Tools-btn {
    font-size: 8px;
  }

  .Tools-HexBox {
    width: 30px;
    height: 32.5px;
    padding: 5px;
  }
  .Tools-hex {
    width: 25.98px;
    height: 15px;
    border-radius: 0.75px/ 1.5px;
  }

  .Tools-hex-wrapper {
    font-size: 5px;
  }

  .Tools-hex-wrapper:nth-child(1) {
    top: 42%;
  }

  .Tools-hex-wrapper:nth-child(3) {
    top: 58%;
  }

  .Tools-icon {
    width: 12px;
    height: 12px;
  }
}
