.musicAppWeb-container {
  position: relative;
  width: 800px;
  height: 450px;
  background-color: rgb(16, 108, 136);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* transition: 1s; */
  overflow: hidden;
  color: black;
}

.musicAppWeb-Wrapper {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 0;
  left: 0;
  display: flex;
  transition: 1s;
}

.musicAppWeb-Imgbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicAppWeb-Imgbox img {
  position: absolute;
  z-index: 1;
  width: 600px;
  transition: 1s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.musicAppWeb-Imgbox img:nth-child(2) {
  opacity: 0;
}
.musicAppWeb-Imgbox img:nth-child(3) {
  opacity: 0;
}
.musicAppWeb-Imgbox img:nth-child(4) {
  opacity: 1;
}
.musicAppWeb-Imgbox:hover img:nth-child(2) {
  opacity: 1;
}
.musicAppWeb-Imgbox:hover img:nth-child(3) {
  opacity: 1;
  left: 45%;
  filter: drop-shadow(10px 1px 3px rgba(0, 0, 0, 0.5));
}
.musicAppWeb-Imgbox:hover img:nth-child(4) {
  opacity: 1;
  left: 40%;
  filter: drop-shadow(10px 1px 3px rgba(0, 0, 0, 0.5));
}

.musicAppWeb-textBox {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.musicAppWeb-textBox p:nth-child(1) {
  font-size: 40px;
  color: white;
}
.musicAppWeb-textBox p:nth-child(1) span {
  text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.5);
}
.musicAppWeb-textBox p span {
  opacity: 0;
  transition: 1s;
}
.musicAppWeb-textBox.active p span {
  opacity: 1;
}
.musicAppWeb-textBox p:nth-child(2) {
  position: relative;
  font-size: 13px;
  /* color: white; */
  font-weight: 300;
  transition: 1s;
  color: white;
  overflow: hidden;
}

.musicAppWeb-textBox p:nth-child(3) {
  font-size: 13px;
  /* color: white; */
  font-weight: 300;
  transition: 1s;
  color: white;
}
