.musicAppWeb-container {
  position: relative;
  width: 800px;
  height: 450px;
  background-color: rgb(215, 217, 225);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  color: black;
}

.musicAppWeb-Wrapper {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition: 0.8s ease-in-out;
}

.musicAppWeb-Imgbox {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicAppWeb-Imgbox img {
  position: absolute;
  z-index: 1;
  width: 600px;
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.musicAppWeb-Imgbox.hover img:nth-child(2) {
  opacity: 1;
}

.musicAppWeb-Imgbox.hover img:nth-child(3) {
  transform: translate(-55%, -50%);
  filter: drop-shadow(10px 1px 3px rgba(0, 0, 0, 0.5));
}

.musicAppWeb-Imgbox.hover img:nth-child(4) {
  transform: translate(-60%, -50%);
  filter: drop-shadow(10px 1px 3px rgba(0, 0, 0, 0.5));
}

.music-TitleBox {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  opacity: 1;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.music-textBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  text-align: center;
  font-size: 12px;
  width: 500px;
}

.music-textBox p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  color: rgb(52, 52, 52);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.musicAppWeb-linkBox {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 70px;
  right: 50px;
  display: flex;
  align-items: center;
}

.musicAppWeb-linkBox button {
  position: relative;
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  margin-right: 20px;
  pointer-events: all;
  cursor: pointer;
}

.musicAppWeb-linkBox button:nth-child(2) {
  width: 60px;
}

.musicAppWeb-linkBox button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid black;
  transition: width 0.3s ease-in-out;
  pointer-events: none;
}

.musicAppWeb-linkBox button a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.musicAppWeb-linkBox button p {
  margin-right: 5px;
  transition: margin-right 0.3s ease-in-out;
}

.musicAppWeb-linkBox button:hover p {
  margin-right: 10px;
}

.musicAppWeb-linkBox button:hover::before {
  width: 100%;
}
