.header-container {
  position: fixed;
  width: 100%;
  height: 100px;

  display: flex;
  z-index: 998;
  pointer-events: none;
}

.header-logo {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 998;
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px;
}

.header-container .header-logo button {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 15px;

  color: rgb(24, 24, 24);
  transition: 1s;
  cursor: none;
  pointer-events: all;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
}
.header-container .header-logo button::before {
  position: absolute;
  content: "ZER";
  color: rgb(171, 171, 171);
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.4s;
}

.header-container .header-logo button span {
  position: relative;
  color: rgb(142, 142, 142);
  transition: 0.5s;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
}
.header-container .header-logo button span::before {
  position: absolute;
  content: "ONE.";
  color: black;
  left: 0;
  width: 0%;

  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0s;
}
.header-logo.active button,
.header-logo.white button {
  color: #ffffff;
}

.header-container .header-logo button:hover::before {
  width: 42%;
  transition-delay: 0.4s;
}

.header-logo button:hover span::before {
  width: 100%;
  transition-delay: 0.6s;
}
.header-logo.active button:hover span::before,
.header-logo.white button:hover span::before {
  color: white;
  transition-delay: 0.6s;
}

.header-container .header-list {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
}
.header-container .header-list.active {
  pointer-events: none;
}

.header-container .header-list li {
  width: 70px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  transition: 1s;
}
.header-container .header-list li button {
  color: rgb(19, 19, 19);
  font-size: 12px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  background-color: transparent;
  border: none;
  pointer-events: all;
  transition: 0.8s;
}
.header-container.white .header-list li button {
  color: white;
}

.header-container .header-list li button:hover {
  letter-spacing: 2px;
}

.header-container .header-list.about li:nth-child(2) button {
  letter-spacing: 2px;
}
.header-container .header-list.project li:nth-child(3) button {
  letter-spacing: 2px;
}
.header-container .header-list.contact li:nth-child(4) button {
  letter-spacing: 2px;
}

.header-container .header-list li button:hover .header-line-object {
  width: 80%;
  height: 0.8px;
  background-color: white;
}
.header-line:hover .header-line-object {
  transition: 0.1s;
  background-color: #af7340;
}
.header-menu-bar {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.header-container .header-menu-bar div {
  background-color: rgb(0, 0, 0);

  height: 1.5px;
  transition: 1s;
  opacity: 1;
  right: 0;
}
.header-container.white .header-menu-bar div {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.header-menu-bar-top {
  position: absolute;
  width: 60%;
  top: 3px;
}

.header-menu-bar-bottom {
  position: absolute;
  bottom: 3px;
  width: 80%;
}
.header-menu-bar-center {
  width: 100%;
}

.header-container .header-menu-bar-center::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  left: 0;
  background-color: rgb(35, 35, 35);
  transition: 1s;
}
.header-container.white .header-menu-bar-center::after {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.header-container .header-menu-bar-center.active {
  background-color: white;
}
.header-container .header-menu-bar-center.active::after {
  background-color: white;
}

.header-menu-bar-center.active {
  transform: rotate(45deg);
}
.header-menu-bar-center.active::after {
  transform: rotate(-90deg);
}

.header-container .header-menu-bar-top.active,
.header-container .header-menu-bar-bottom.active {
  opacity: 0;
}

@media (max-width: 800px) {
  .header-container .header-list li {
    width: 0px;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
  }
  .header-container .header-list li button {
    pointer-events: none;
  }

  .header-menu-bar {
    opacity: 1;
    transition-delay: 1s;
    pointer-events: all;
  }
}
