.skill-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transition-delay: 0s;
  opacity: 0;
}
.skill-container span {
  text-align: center;
}
.skill-container.active {
  pointer-events: all;
  transition: 1s;
  opacity: 1;
  transition-delay: 1s;
}

.skill-box {
  position: absolute;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  transition: 1s;
}

.skill-box li {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

.skill-box li div {
  position: relative;
  width: 105%;
  padding-bottom: 5px;
  height: 33px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  box-sizing: border-box;
}
.skill-container .skill-box li div div {
  position: relative;
  top: 40px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.skill-container.active .skill-box li div div {
  top: 0px;
}

.skill-container .skill-box li div div:nth-child(7) {
  position: absolute;
  top: 70px;
  width: 30px;
  height: 30px;

  transform: translateY(-35px);
}
.skill-container .skill-box li div div:nth-child(8) {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 30px;
  height: 30px;

  transform: translateY(-35px);
}

.skill-container.active .skill-box li div div:nth-child(7),
.skill-container.active .skill-box li div div:nth-child(8) {
  top: 0px;
}

.skill-box li div img {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: flex;
  transition: 0.5s;
  top: 0px;
  opacity: 0.6;
}

.skill-box li div .vercelIcon {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: flex;
  transition: 0.5s;
  top: 0px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-box li div .vercelIcon img {
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 4.5px;
  display: flex;
  transition: 0.5s;
  top: 0px;
  opacity: 1;
}

.skill-box li div:hover .vercelIcon img {
  top: 0px;
  opacity: 1;
}
.skill-box li div .vercelIcon::before {
  content: "";
  position: absolute;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1.5px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.skill-box li div div:hover img {
  top: -10px;
  opacity: 1;
}

.skill-box li div div .openSkill {
  top: -10px;
  opacity: 1;
}

.skill-box li div div:hover .vercelIcon {
  top: -10px;
  opacity: 1;
}
.skill-box li button {
  width: 100%;
  height: 30%;
  border-top: 2px solid white;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
  background-color: transparent;
  color: white;
  font-weight: 300;
  font-size: 9px;
  background-color: #222e37;
  z-index: 2;
}

.skill-exBox {
  position: absolute;
  width: 500px;
  height: 50px;

  bottom: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  text-align: center;
}
.skill-exBox p {
  position: absolute;
  font-size: 10px;
  transition: 0.5s;
  font-weight: 300;
  align-items: center;
}

@media (max-width: 800px) {
  .skill-box {
    flex-direction: column;
    gap: 20px;
  }
}
